# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Training outputs
checkpoints/
outputs/

# Logs
*.log

# Environment variables
.env